./dl/original_files/exercises/week10_unet/resized_cityscapes/labels_train.pth
./dl/original_files/exercises/week10_unet/resized_cityscapes/imgs_train.pth
./dl/hongli/week10_unet/resized_cityscapes/labels_train.pth
./dl/hongli/week10_unet/resized_cityscapes/imgs_train.pth
